button,input {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.2px;
}

.create-user-header-form {
    margin-top: 10px;
}

@media only screen and (max-width:650px) {
    .user-img {
        width: 80px;
        height: 80px;
    }
}

@media only screen and (max-width:650px) {
    .create-form-img {
        border: 1px solid ;
        padding: 10px;
        font-size: 12px
    }

    .form-control {
        font-size: 12px
    }

    .btn {
        font-size: 12px
    }

    .user-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .create-user-txt {
        font-size: large;
        font-weight: bold;
    }
}


@media only screen and (min-width:650px) {
    .user-img {
        width: 100px;
        height: 100px;
    }

    .user-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .create-form-img {
        border: 1px solid ;
        padding: 10px;
    }

    .create-user-txt {
        font-size: xx-large;
        font-weight: bold;
    }
}

.crt-btn , .clr-btn {
    background-color: #343a40;
    color: white;
}